language: ruby
rvm:
- 2.2
- 2.1
- 2.0
- 1.9.3
sudo: required
services:
- docker
script:
- >
  wget -O- bit.ly/ansibletest | env DOCKER_IMAGES="ubuntu:12.04
  ubuntu:14.04 ubuntu:16.04"
  ANSIBLE_VERSIONS="1.4.1 2.1.0.0" sh
after_failure:
- cat role-tester-ansible-master/.kitchen/logs/*.log | grep -v '^I, '
notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: BplqDjscqSWvujXwCcAdog8bKoGyv1H6ckYmqA8nVuWhGvOqYChoXAcQ5U1XM0j7xagW1NNtb5XhbfUiCuNKfgl/7uqZN5xUR6M3w09G50z5vHOLg2Hp5OiX0i6Syo1paWWWTGHE0iDnK/rYur7D6oGxAObBzYycui5Oar52RzXbyfa6sWnPcjUl2SwoJGuJfIc/yGLV0SWXU4+J0K23XfEps50BfUPvucoRd20GK+l2rCZ93qdImYQ+KxnhVc7wc9zZ3OdVCMWwkGYdhbESYqRstrQcoVyBOt2rJ83l7f5ejcIv5keQEY9GaKRokPXDknmmp35ZNqteJTK2XKlmoxi72/XEb4gSHY6Ka5kiaASfsAzDYpeD/S4fHtP+KGWUuT5fIHatdEWAiWApIF/NnXN2O7s+NKU0Ytm/Kl0yd8jQibexRfWyx6TyW4hnZs2wPMXoDzajHOF49VtKNbyl6BVuXsH2EpmpGOr7YBTAMLD5l4rDqQixx3Kq9I+4fp2nupjCnMhRiqojwAij5FILC3Q5NSTWHLTYa6Prxm0ouRc2uu0PzZnVdWgbR3M0+Uie5/8xEFwf8IKidMIa0rstbHfVsdzDb9AyA0kf6n0ZoVv/LFwu4POKEJ62Kr2LP+DMsqkxoxdpMJiVd0uRvOjyycPgpuolo7YXOmph0qlR094=
